/* Search bar */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    padding: 0 100px;
  }
  
  .search-bar input[type="search"] {
    height: 50px;
    width: 80%;
    font-size: 1.6rem;
    font-weight: 300;
    border: solid 1px var(--primary-color);
    outline: none;
    padding: 5px 20px;
    background: #d6d6d6;
  }
  
  .search-bar input[type="search"]:focus {
    background: white;
  }